doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Ícaro Botelho
    body(bgcolor="#F8F4E7", text="#552800")
        h1 Ícaro Caldeira Botelho
        i
            p
                | ㅤㅤEstudante de Engenharia de Software
                br
                | ㅤㅤDocente Trainee - Senai
                br
                br
                | ㅤㅤEstudante organizado e com perfil analítico
        hr
        section
            h2 Formação Acadêmica
            ul
                li Universidade de Tecnologia SENAI - Técnico em Desenvolvimento de Sistemas
                li Universidade Católica de Santa Catarina - Engenharia de Software
        section
            h3 Experiências Profissionais
            dl
                dt Whirlpool Corporation - 2021
                dd
                    ul
                        li Jovem Aprendiz Auxiliar Técnico
                        li Auditor de Scrap
                dt Senai - 2023
                dd
                    ul
                        li Docente Trainee
        section
            footer
                em Contato:
                |  ✉ icarobotelhosocial@gmail.com
                br
                em LinkedIn:
                a(href="www.linkedin.com/in/icarocbotelho/") www.linkedin.com/in/icarocbotelho/
